<footer>
    <div class="div1">
        <img src="../assets/footerlogo.svg" alt="">
        <button>JOIN THE COMMUNITY</button>
    </div>
    <div class="div2">
        <div class="div2-p1">
            <div class="div2-title">The BASICS</div>
            <div class="content-div">
                <div>About TMDB</div>
                <div>Contact Us</div>
                <div>Support Forums</div>
                <div>API</div>
                <div>System Status</div>
            </div>
        </div>
        <div class="div2-p2">
            <div class="div2-title">GET INVOLVED</div>
            <div class="content-div">
                <div>Contribution Bible</div>
                <div>Add New Movie</div>
                <div>Add New TV Show</div>
            </div>
        </div>
        <div class="div2-p3">
            <div class="div2-title">COMMUNITY</div>
            <div class="content-div">
                <div>Guidelines</div>
                <div>Discussions</div>
                <div>Leaderboard</div>
                <div>Twitter</div>
            </div>
        </div>
        <div class="div2-p4">
            <div class="div2-title">LEGAL</div>
            <div class="content-div">
                <div>Terms of Use</div>
                <div>API Terms of Use</div>
                <div>Privacy Policy</div>
            </div>
        </div>
    </div>
</footer>