<body>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Login</h5>
      <form [formGroup]="userForm">
        <div class="form-group">
          <label for="emailId">Email address</label>
          <input formControlName="emailId" value="one" type="email" name="emailid" class="form-control" id="emailid" aria-describedby="emailHelp" placeholder="Enter email">
          <span style="color: red;" *ngIf="emailId && emailId?.invalid && (emailId.dirty || emailId.touched)">Invalid Email Format</span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input formControlName="password" type="password" name="password" class="form-control" id="password" placeholder="Password">
          <span style="color: red;" *ngIf="password && password?.invalid && (password.touched)">Invalid Password Format</span>
        </div>
        <div style="text-align: center;">Or</div>
        <div><img src="" alt=""><img src="" alt=""><img src="" alt=""></div>
        <button style="background-color: #EE5684; border: none;" [disabled]="userForm.invalid" type="submit" class="btn btn-primary" (click)="loginUser()">Log In</button>
        <div>New User? <a href="" [routerLink]="['/signup']">Sign-UP</a></div>
      </form>
    </div>
</div>
</body>
