<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Sign-UP</h5>
      <form [formGroup]="userForm">
        <div class="form-group">
          <label for="emailId">Email address</label>
          <input formControlName="emailId" type="email" name="emailid" class="form-control" id="emailid" aria-describedby="emailHelp" placeholder="Enter email">
          <span style="color: red;" *ngIf="emailId && emailId?.invalid && (emailId.dirty || emailId.touched)">Invalid Email Format</span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input formControlName="password" type="password" name="password" class="form-control" id="password" placeholder="Password">
          <p style="font-size:10px;">Use 8 or more characters with a mix of Uppercase & Lowercaseletters, numbers & symbols</p><br>
          <span style="color: red;" *ngIf="password && password?.invalid && (password.dirty || password.touched)">Invalid Password Format</span>
        </div>
        <button style="background-color: #EE5684; border: none;" [disabled]="userForm.invalid" type="submit" class="btn btn-primary" (click)="signupUser(userForm.value)">Sign UP</button><br>
        <div>Already a User? <a href="" [routerLink]="['/login']">Login</a></div>
      </form>
    </div>
</div>