<app-header></app-header>
<body>
    <div class="header" style="background-color: #03254190;" *ngIf = 'movieinfo'>
        <div class="header-movieimg"><img [src]="movieinfo.poster_path ? ('https://image.tmdb.org/t/p/w370_and_h556_bestv2/'+movieinfo.poster_path) : '../assets/movieinfobg.jpg'" alt=""></div>
        <div class="header-content">
            <div class="header-title">{{movieinfo.title}}</div>
            <div class="header-title-movieinfo">
                <div class="header-title-rating">TV-MA</div>
                <div class="header-title-rating-sub">Drama . {{movieinfo.runtime}}min</div>
            </div>
            <div class="header-score">
                <div style="font-size:25px ;" clas="header-score-img">{{movieinfo.vote_average*10}}%</div>
                <div class="header-score-p1">User Score</div>
                <div class="header-score-btn"><button>Play Trailer</button></div>
            </div>
            <div class="header-tag"><i>{{movieinfo.tagline}}</i></div>
            <div class="header-details">
                <div class="header-details-title">Overview</div>
                <div class="header-details-para">{{movieinfo.overview}}</div>
            </div>
            <div>
                <div class="header-cred">Vince gilligan</div>
                <div class="header-cred-para">Creator</div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-div1">
            <div class="content-div1-p1">
                <div class="content-div1-p1-title">Series Cast</div>
                <div class="content-div1-p1-content">
                    <div class="content-div1-p1-cards" *ngFor ='let cast of moviecast'>
                        <img [src]="cast.profile_path ? ('https://image.tmdb.org/t/p/w370_and_h556_bestv2/'+cast.profile_path) : '../assets/bryan.jpg'" alt="">
                        <div class="p1-cards-content">
                            <div class="p1-cards-title">{{cast.name}}</div>
                            <div class="p1-cards-name">{{cast.character}}</div>
                            <div class="p1-cards-noep">62 Episodes</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-div1-p1-sub">Full Cast & Crew</div>
            <div class="line"></div>
            <div class="content-div1-p2">
                <div class="content-div1-p2-title">Recommendations</div>
                <div class="p2-cards">
                    <div class="content-div1-p2-card" *ngFor="let reco of moviereco" (click) = "name(reco.id)">
                        <img height="150px" [src]="reco.backdrop_path ? ('https://image.tmdb.org/t/p/w370_and_h556_bestv2/'+reco.backdrop_path) : '../assets/recimg.jpg'" alt="">
                        <div class="p2-card-content">
                            <div>{{reco.original_title}}</div>
                            <div>{{reco.vote_average*10}}%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-div2" *ngIf="movieinfo">
            <div class="content-div2-title">Facts</div>
            <div class="content-div2-p1">
                <div class="content-div2-title">Status</div>
                <div class="content-div2-content">{{movieinfo.status}}</div>
            </div>
            <div class="content-div2-p1">
                <div class="content-div2-title">Network</div>
                <div class="content-div2-content">AMC</div>
            </div>
            <div class="content-div2-p1">
                <div class="content-div2-title">Type</div>
                <div class="content-div2-content">Scripted</div>
            </div>
            <div class="content-div2-p1">
                <div class="content-div2-title">Original Language</div>
                <div class="content-div2-content">English</div>
            </div>
            <div class="content-div2-p1">
                <div class="content-div2-title">Keywords</div>
                <div class="wrapperforkey">
                    <div *ngFor = 'let k of key'>{{k.name}}</div>
                </div>
            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>